.container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
}

.gridItem {
  width: 100px;
  height: 100px;
}

.hover {
  background-color: black;
}
